/*! https://github.com/lzxb/flex.css */
/*
    定义flex布局
    http://the-echoplex.net/flexyboxes/
    http://bennettfeely.com/flexplorer/
*/
/* flex容器 */
.kFBH,
.kFBV {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.kFBV {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* inline-flex */
.kIFBH,
.kIFBV {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.kIFBV {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* align-items 垂直对齐方式，也就是在交叉轴上如何对齐 */
.kFBAS {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.kFBAC {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.kFBAE {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.kFBAB {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.kFBJS {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.kFBJC {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kFBJE {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.kFBJB {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.kFB0 {
  flex: 0;
}
.kFB1 {
  flex: 1;
}
.kFB2 {
  flex: 2;
}
.kFB3 {
  flex: 3;
}
.kFB4 {
  flex: 4;
}
.kFB5 {
  flex: 5;
}
.kFB6 {
  flex: 6;
}
.kFB7 {
  flex: 7;
}
.kFB8 {
  flex: 8;
}
.kFB9 {
  flex: 9;
}
.kFB10 {
  flex: 10;
}
/*flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto。后两个属性可选。*/
